<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pet/style.css' %}">
</head>
<body>
    <h1>Welcome to the Virtual Pet App</h1>

    {% if pets %}
        <p>Here is a list of pets:</p>

        <div class="pets-container">
            {% for pet in pets %}
            <a href="{% url 'pet_info' pet.id %}" class="pet-card">
                {% if pet.image %}
                    <img src="/media/{{ pet.image }}" alt="{{ pet.name }}">
                {% else %}
                    <img src="/media/pet_images/cat2.jpg" alt="Default Pet Image">
                {% endif %}
                <h3>{{ pet.name }}</h3>
                <p>Mood: {{ pet.mood }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>It seems like you don’t have a friend yet :(</p>
        <p>How about creating one?</p>
    {% endif %}
<br>
<a href="{% url 'add_pet' %}">Add a Pet</a>   
</body>
</html>